.container {
    margin-top: 30px;
}

#login_status {
    display: flex;
    justify-content: end;
    align-items: center;
}

#login_status>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 208, 253);
    border-radius: 6px;
}

#login_status>div>label {
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
}

Button {
    margin: 3px;
}

.smallSpace {
    height: 5px;
}