.alertMessage {
    border: 3px solid #00ff2a;
    background-color: #e4ffd3;
    border-radius: 5px;
    text-align: center;
}

.alertError {
    border: 3px solid #ff2600;
    background-color: #fad7c7;
    border-radius: 5px;
    text-align: center;
}

.blogContainer {
    padding-top: 10px;
    padding-left: 2px;
    border: solid #000000;
    border-width: 1px;
    margin-bottom: 5px;
}

.blogContainer > p {
    font-size: 18px;
    margin: 0px;
}
